In [1]:
import pandas

In [4]:
cov = pandas.read_csv('../Data/Coverage/ilr.csv', header=None)

In [5]:
cov.head(5)

                   0                1              2
0  1201 S LAMAR BLVD            0.044  23512.0709392
1  1219 S LAMAR BLVD     1.5663345468       1411.564
2  1311 S LAMAR BLVD  0.0145367952845  59990.6694214
3  1303 S LAMAR BLVD  0.0110095136766     43.6931204
4       S LAMAR BLVD  0.0393426628052  117564.546009

In [6]:
cov.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 211128 entries, 0 to 211127
Data columns (total 3 columns):
0    210498 non-null object
1    211120 non-null object
2    211127 non-null object
dtypes: object(3)
memory usage: 4.8+ MB